:root{
    --main-color:#4F772D;
    --dark-color:#31572C;
    --light-color:#90A955;
    --higlight-color:#ECF39E;
}

body
{
    margin: 0px;
}

header{
    width: 100px;
    padding: 20px;
    background: var(--main-color);
    color: var(--higlight-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 30px rgba (0,0,0,1);
}

boton {
background-color: #4CAF50;
color: rgb(255, 255, 255);
padding: 12px 24px;
font-size: 16px;
border: none;
border-radius: 10px;
cursor: pointer;
transition: background 0.3s;
align-items: center;
}

.boton:hover {
    background-color: var(--main-color);
}

.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.proyecto {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    width: 250px;
}
.proyecto img {
    width: 100px;
    border-radius: 50%;
}
.proyecto button {
    margin-top: 10px;
    background: #0066cc;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
}
.proyecto button:hover {
    background: #004999;
}
.container {
    display:flex;
}