:root{
    --light-color:#DAD7CD;
    --sub-color:#A3B18A;
    --main-color:#588157;
    --dark-color:#3A5A40;
    --green-color:#344E41;
}

body
{
    background-color: var(--main-color);
}

header
{
    background: var(--dark-color);
    color: var(--light-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.1);
    margin-bottom: 30px;
}

#main-title
{
    color: var(--light-color)
}

#subtitle
{
    color: var(--sub-color)
}

boton {
background-color: #4CAF50;
color: rgb(255, 255, 255);
padding: 12px 24px;
font-size: 16px;
border: none;
border-radius: 10px;
cursor: pointer;
transition: background 0.3s;
align-items: center;
}

.boton:hover {
    background-color: var(--main-color);
}

.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.proyecto {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    width: 250px;
}
.proyecto img {
    width: 100px;
    border-radius: 50%;
}
.proyecto button {
    margin-top: 10px;
    background: #0066cc;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
}
.proyecto button:hover {
    background: #004999;
}
.container {
    display:flex;
}